## Organization Setup

# This file is included by the Makefile, and is in Makefile syntax

#
# IMPORTANT - please fill this value appropriately
#
# The 'org' variable refers to your organization name.
# You should use a version of your organization name that has 6-20 lowercase alphanumerics. (Only [a-z][0-9] allowed.)
# This organization name should be sufficiently random that it results in a unique ACR name, so you should consider
#   suffixing it with a random 6-digit number.
# You can get a random number by running `make get-random-number`
#
#  e.g.
#  org="jaz013468"
org=westisland

# The 'org_region' variable refers to the azure region you want your organization-wide resources to be created in.
# 
# The organization is associated with the following resources:
#
#  - A resource group for the following resources
#  - An Azure Container Registry to store the images for your services
#  - An Azure Front Door to provide SSL termination, URL-rewriting and routing across regions
#  - An Azure Key Vault to store secrets and certificates
#  - A (secure) Virtual Network which allows us to offload SSL at the AFD
#  - A Log Analytics workspace to store logs from the various project clusters
#
# You can run `make az-showregions` for the current list of regions
#
# Check out https://azure.microsoft.com/en-us/global-infrastructure/services/?regions=all to choose a region
# Be aware that not all regions support all resources, and that prices and regulations vary between regions/geographies.
# Pick a region that supports AKS, Storage, Analytics Workspaces and Key Vaults
#
#  e.g
#  org_region=eastus2
org_region=westus2

#
# IMPORTANT - please fill this value appropriately
#
# Secrets like this are why we have included this file in .gitignore
#
# The 'org_acr_login_token' variable is used to log into the ACR when you do not have the 'az cli' installed, 
#   such as when the 'az cli' is being run from within a docker container.
# 
# From the docker container, run `make org-login-acr` and carefully copy the value and put it into this file, and save it!
#
#   e.g.
#   org_acr_login_token=...
org_acr_login_token=

# 
# Resources shall be named according to convention:
# https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/resource-naming
#
org-lc=$(shell echo $(org) | tr A-Z a-z)
org_name=$(org-lc)-oaks-$(org_region)
org_resource_group=rg-$(org_name)
org_acr=$(shell echo """acr$(org-lc)$(oaks)""" | cut -c1-45 | tr A-Z a-z)
org_acr_login_server=$(org_acr).azurecr.io
org_azurefrontdoor=afd-$(org_name)
org_keyvault=kv-$(org_name)
org_lawks=lawks-$(org_name)
