## Project Setup

# This file is included by the Makefile, and is in Makefile syntax

project   :=GeneratedProjectName
project-lc:=$(shell echo $(project) | tr A-Z a-z)


# The 'proj_region' variable refers to the azure region you want your project-specific resources to be created in.
# 
# The project is associated with the following resources:
#
#  - A resource group for the following resources
#  - An Azure Kubernetes Service cluster
#
# You can run `make az-showregions` for the current list of regions
#
# Check out https://azure.microsoft.com/en-us/global-infrastructure/services/?regions=all to choose a region
# Be aware that not all regions support all resources, and that prices and regulations vary between regions/geographies.
# Pick a region that supports AKS, Storage, Analytics Workspaces and Key Vaults
#
#  e.g
#  proj_region=eastus2
proj_region=westus2


# project configuration
config ?=Debug

proj_name=$(org-lc)-$(project-lc)-$(proj_region)
proj_resource_group=rg-$(proj_name)
proj_cluster=aks-$(project-lc)
proj_appgateway=agw-$(proj_name)
